.barra {
    position: sticky;
    top: 0;

    @include tablet {
        display: none;
        background: rgb(37, 37, 37);
        border: 1px solid rgb(58, 58, 58);
        margin: 0;
        height: 90rem;

        .logotipo {
            border: 1px solid rgb(27, 27, 27);

            .logo-mobil {
                display: none;
            }
        }

        .login {}

        .logotipo-tablet {
            display: block;
            width: 20rem;
            margin: 0 auto;

            img {
                width: 100%;

            }
        }

        .barra-opciones {
            margin-top: 30rem;
        }

        .barra-saludo {
            display: inline-block;
            width: 100%;

            .carrito {
                display: none;
            }
        }

        .mostrar {
            visibility: visible;
            opacity: 1;
            height: 0;
        }
    }

    @include desktop {
        height: 120rem;
    }

    /* Aqui empiezo a editar por ahora */
    p {

        color: $blanco;
        font-weight: $bold;
        margin: .5rem;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    .logotipo {
        background-color: rgb(47, 47, 47);
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 6rem;
        text-align: center;

        img {
            width: 4rem;
            height: 4rem;
        }

        .mobile-menu {
            img {
                filter: invert(100%);
                width: 3rem;
                height: 3rem;
            }
        }

    }


}

.logotipo-tablet {
    display: none;
}

.barra-opciones {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgb(47, 47, 47);
    visibility: hidden;
    opacity: 0;
    transition: visibility .0s ease-in-out, opacity 0.5s linear, height .5s linear;
    height: 0;

    .barra-botones {
        display: flex;
        border: 1px solid rgb(56, 56, 56);
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 6rem;

        img {
            width: 2.5rem;
            height: 2.5rem;
        }
    }

    @include tablet {
        opacity: 1;
        visibility: visible;

        .barra-botones {
            border: none;
            border-radius: 0;
            margin-bottom: 1rem;
            justify-content: flex-start;
            background-color: rgb(42, 42, 42);

            img {
                width: 2.5rem;
                height: 2.5rem;
            }
        }
    }

    li {
        padding: 2rem;
    }

}

.mobile-menu {
    @include tablet {
        display: none;
    }

    img {
        width: 5rem;
    }
}

.mostrar {
    visibility: visible;
    opacity: 1;
    height: auto;
}


.activo {
    p {
        color: $amarillo;
    }
}

//barra inferior


.barra-inferior {
    @include tablet {
        display: none;
    }

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position:fixed;
    bottom: 0;
    z-index: 100;
    background: rgb(242, 250, 138);
    background: radial-gradient(circle, rgb(128, 128, 128) 0%, rgb(27, 27, 27) 100%);
    height: 5rem;
    width: 100%;


    .carrito {
        width: 4rem;
        height: 4rem;
        border: 1.5px solid black;
        border-radius: 1rem;
        padding: .5rem;

        img {
            width: 100%;
        }
    }


}