

.card-configuracion{
    @include tablet(){ 
        width: 75%;  
    }


}


.panel-opciones{
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    .boton{
        width: 10rem;
        border : 1px solid black;
    }
    .diseño-select{
        display: inline-block;
        width: 50%;
        cursor: pointer;
          padding: 7px 10px;
          height: 42px;
          outline: 0; 
          border: 0;
        border-radius: 0;
        background: #f0f0f0;
        color: #7b7b7b;
        font-size: 1em;
        color: #999;
        font-family: 
        'Quicksand', sans-serif;
        border:2px solid rgba(0,0,0,0.2);
        border-radius: 12px;
        position: relative;
        transition: all 0.25s ease;
    }
}