

.contenido{
    display: flex;
    justify-content: space-around;
    height: 5rem;
    a{
        width: 30rem;
        text-align: center;
    }
    h3{
        font-size: 2.5rem;
        color: $negro;
        font-weight: $bold;
        margin: 0;
        padding: 1rem;
    }
}
.linea-amarilla{
    margin: 0 auto;
    height: .5rem;
    width: 100%;
    background-color: $amarillo;
    border-radius: 10rem;
}