

.DarkMode{
    background-color: $grisDark;
    p,a{
        color: rgb(154, 154, 154);
    }
    h1,h2,h3,h4,label{
        color: $blanco;
    }
    .saludo{
        color: $blanco;
    }
    .card-contenido{
        
    }
    .input{
        color: $blanco;
        background-color: $grisNavegacion;

    }
    button{
        color: $blanco;
    }
    .input-login{
        border: none;
    }
    .activo{
        p{
            color: $amarillo;
        }
    }
}