.header {
    display: none;
    background-color: $grisNavegacion;
    width: 100%;

    .input {
        background-color: $grisNavegacion;
        border: 1px solid rgb(14, 14, 14);
        color: $blanco;

        &:focus {
            outline: none;
        }
    }

    .header-ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 40rem;

        p {
            color: $blanco;
        }


        }
        @include tablet() {
            position: fixed;
            z-index: 10;
            top: 0;
            background-color: $grisNavegacion;
            width: 100%;
            height: 5rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .header-navegacion {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .header-botones {
                    list-style: none;   
                }
                
    
                .buscar-producto {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 50rem;
    
                    .input {
    
                        margin: 0 1rem;
                        width: 70%;
                    }
    
                }
                .activo{
                    
    
            }
    
            .card-login-carrito{
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0 2rem;
                width: 20rem;
                .card-login-carrito-nombre{
                    color: $blanco;
                    font-size: 2rem;
                }
            }
            .boton-buscar {
                background-image: url(../../build/img/lupa.png);
                width: 4rem;
                height: 4rem;
                background-repeat: no-repeat;
                background-size: cover;
                border: none;
            }
    
            .carrito {
                display: flex;
                gap: 1rem;
                justify-content: center;
                align-items: center;
    
                p {
                    color: $blanco;
                    margin-right: 3rem;
                }
    
                img {
                    width: 5rem;
                    height: 5rem;
                }
    
                span {
                    color: $amarillo;
                }
            }
    
            .header-logueo {
                background-color: blue;
                width: 20rem;
                height: 10rem;
            }
        }
    
    }
    }

    /* Aqui no editar poor ahora */
    

/* Aqui puedes edditar */
.header-navegacion {
    background-color: #0e323c;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;

    .buscar-producto {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50rem;
        margin-right: 1rem;
        
        .resultados-busqueda-barra {
            position: absolute;
            top: 100%;
            left: 0;
            width: 30%;
            background: #fff;
            border: 1px solid #ccc;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            z-index: 1;
         
          }
          
          .resultado-busqueda-item {
            padding: 1rem;
            border-bottom: 1px solid #ccc;
          }

        .input {
            margin: 0 1rem;
            width: 100%;
            
            
        }

    }

    .boton-buscar {
        background-image: url(../../build/img/lupa.png);
        width: 2rem;
        height: 2rem;
        background-repeat: no-repeat;
        background-size: cover;
        border: none;
    }

    .carrito {
        display: flex;
        gap: 1rem;
        justify-content: center;
        align-items: center;
        margin-right: 3rem;

        p {
            color: $blanco;
            margin-right: 1rem;
        }

        img {
            width: 3rem;
            height: 3rem;
        }

    }
}

.header-logueo {
    text-align: center;

    a {
        text-decoration: none;
        color: $blanco;
        font-size: 2.5rem;
    }
}

@include tablet() {
    .header-fixed {
        position: fixed;
    }
}
/* Agrega estos estilos a tu archivo CSS */

.activo {
    color: #ff0000; /* Cambia esto al color que desees */
    font-weight: bold; /* Puedes ajustar el peso de la fuente según sea necesario */
    /* Agrega otros estilos según sea necesario */
  }
  