


.contenedor-login{
    display: flex;
    flex-direction: column;
    padding: 2.5rem;
    background-color: #030e14;
    color: white;
    .contenedor-Logueo{
        width: 100%;
    }
    .img-login{
        margin: 3rem auto;
        width: 50%;
        height: 50%;
    }
    .input-login{
        color: white;
        width: 90%;
        margin: 0 2rem;
        background-color: #054256;
        &::placeholder {
            color: white;
          }
    }
    .btn-logueo{
        width: 80%;
        margin: 1rem auto;

    }

    .p-login{
        margin: 0;
        text-align: center;
        font-size: 1.5rem;
    }
    .btn-crearCuenta{
        background-color: $grisBordes;
        border-radius: 1rem;
        text-align: center;
        margin: 1rem auto;
        padding: .2rem;
        width: 80%;
        }
}

@include tablet{
    .contenedor-login{
        width: 40%;
    }
}
@include desktopHD(){
    .contenedor-login{
        width: 30%;
    }
}



