

.contenido-producto{

    h3,p{
        font-weight: normal;
        color: $negro;
        padding: 0 1rem;
        margin: 0;
    }

    @include tablet(){
        margin-top: auto;
        width: 20rem;
        height: 20rem;
    }


    .span-precio{
        font-weight: $bold;
        color: $verdeDollar;
    }
    .envio{
        font-size: 1.5rem;
        color: rgb(112, 112, 112);
    }

}