.contenido-padre{
    display: flex;
    flex-direction: row;
    margin-top: 5rem;

    .card-imagen{
        width: 40rem;
        height: 50rem;
        margin-left: 1rem;
        margin-right: 1rem;
        text-align:center;
        .boton-trailer{
            border-radius: 1rem;
            border: none;
            background-color: rgb(140, 255, 255);
            width: 12rem;
            height: 3.5rem;
            margin-top: 1rem;
        }
        .modal{
            background-color: transparent;
        }
    }
    .card-producto{
        border-radius: 0rem 1rem 1rem 0rem;
        width: 100rem;
        height: 50rem;
        padding: 1rem;
        .AlinearColumna{
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        .separador{
            text-align:end;
            margin-left: 10rem;
            margin-top: 0.3rem;
        }
    }    
    .separacion{
        border-top: solid black 0.2rem;
        margin-top: 1rem;
        padding-top: 1rem;
    }
    .card-compra{
        border-radius: 1rem;
        border: solid 0.1rem;
        border-color:black;
        margin-top: 10rem;
        margin-right: 1rem;
        padding: 1rem;
        text-align: center;
        width: 50rem;
        height: 22rem;
            .boton-compra{
            text-align: center;
            background-color:rgb(49, 176, 250);
            border: none;
            border-radius: 1rem;
            width: 15rem;
            height: 3rem;
            margin-bottom: 1rem;
            }
            .boton-agregar{
            text-align: center;
            background-color: rgb(208, 232, 255);
            border: none;
            border-radius: 1rem;
            width: 15rem;
            height: 3rem;
        }
    }
}
.cerrar-modal{
    border: none;
    background-color: transparent;
    margin-left: 94%;
}