
.contenedor-padre{
    display: flex;
    flex-direction: row;
    margin-top: 2.5rem;
    .card-logo{
        background-color: #030e14;
        width: 50rem;
        border-radius: 1rem 0rem 0rem 1rem;
        box-shadow: -7px 0px 13px 4px rgba(0,0,0,0.49);
        .RUsuario{
            margin: 3rem auto;
            width: 100%;
        }
    }
    .card-registrarUsuario{
        box-shadow: 7px 0px 13px 4px rgba(0,0,0,0.49);
        border-radius: 0rem 1rem 1rem 0rem;
        background-color: #030e14;
        width: 50rem;
        padding: 1rem;
        border: none;
        h1{
            text-align: center;
            color: white;
        }
        .seccion-fila{
            display: flex;
            flex-direction: row;
        }
        .input{
            margin: .3rem .1rem;
            width: 100%;
            height: 1%;
            border-radius: 1rem;
        }
        .boton-orientacion{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
        .boton-rojo{
            width:  12rem;
            height: 3rem;
            border: none;
            border-radius: 1rem;
        }
        .boton-amarillo{
            width:  12rem;
            height: 3rem;
            border: none;
            border-radius: 1rem;
        }
        .pErrores{
            font-size: 1.5rem;
            font-weight: 700;
            margin: 0;
            color: red;
            width: 50%;
            margin: 0 auto;
        }
    }
}

