
    .contenedor-objetos{
        display: flex;
        flex-direction: row;
        width: 100rem;
        height: 100%;
        margin-top: 8rem;

        .card-derecha{
            border-radius: 1rem;
            border: solid rgb(187, 187, 187) 0.1rem;
            width: 70%;
            height: 100%;
            margin-right: 5%;
            background-color: white;
            box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.20);
            // margin-right: 5rem;
            .card-header{
                border-bottom: solid rgb(187, 187, 187) 0.1rem;
                width: 100%;
                height: 5rem;
                text-align: center;
                
            }
            .card-body{
                width: 100%;
                height: 15rem;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: row;
                .centrar-img{
                    width: 20%;
                    .imagen{
                        display: inline-block;
                        margin-left: 1rem;
                        width: 70%;
                        height:70%;
                    }
                }
                .titulo{
                    border: none;
                    width: 35%;
                } 
                .p{
                    font-weight: 10rem;
                    padding: 1rem;
                }
                .cantidad{
                    align-items: right;
                    display: flex;
                    flex-direction: row;
                    // padding-left: 10rem;
                    width: 35%;
                    .precio{
                        margin-left: 1.5rem;

                    }
                    .contador{
                        margin:0rem 1rem;
                    }
                    .btn{
                        border-color: #054256;
                        width: 3rem;
                        height: 3rem;   
                        font-size: 1.2rem;
                    }
                }
                .btn-Margen{
                    width: 10%;
                    text-align: end;
                    padding: 1rem;
                    // display: flex;
                    // flex-direction: row;
                    .btn-eliminar{
                        align-self: left;
                        border: none;
                        background-color: transparent; 
                        width: 31px;
                        height: 3rem;
                    }
                }
                
            }
            .card-footer{
                // border: solid black;
                width: 100%;
                height: 15%;
                .p{
                    text-align: center;
                    border-top: solid rgb(187, 187, 187) 0.1rem;
                    font-style: italic;
                    font-weight: 700;
                    font-size: 1rem;
                    font-size: small;
                    color: #9B9B9B;
                }
            }
        }
        .card-izquierda{
            border-radius: 1rem;
            width: 30%;
            height: 100%;
            background-color: white;
            border: solid rgb(187, 187, 187) 0.1rem;
            box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.20);
            .card-header{
                border-bottom: solid rgb(187, 187, 187) 0.1rem;
                height: 5rem;
                text-align: center;
            }   
            .card-body{
                padding-top: 2rem;
                height: 85%;
                .btn-compra{
                    height: 4rem;
                    padding: 1rem;
                    border-radius: .3rem;
                    background-color: #054256;
                    color: white;
                    margin-left: 5rem;
                    border: none;
                }
                .card-resumen{
                    display: flex;
                    font-size: 1.2;
                    list-style-type: none;
                    flex-direction: column;
                    margin-top: 3rem;
                    padding-left: 1rem;
                    .linea{
                        border-bottom: #9B9B9B;
                        width: 100%;
                    }
                    .span{
                        padding-left: 50%;
                    }
                }
            }    
            .card-footer{
                padding-top: 1rem;
                border-top: solid rgb(187, 187, 187) 0.1rem;
            }
        }
    }
